n8n-workflows/webhook_to_sheets.json
{
    "name": "Webhook to Sheets",
    "nodes": [
        {
            "parameters": {
                "httpMethod": "POST",
                "path": "ai-governance-ingest",
                "options": {}
            },
            "id": "mock-webhook-node-123",
            "name": "Webhook",
            "type": "n8n-nodes-base.webhook",
            "typeVersion": 1,
            "position": [
                250,
                300
            ],
            "webhookId": "placeholder-webhook-id"
        },
        {
            "parameters": {
                "operation": "append",
                "documentId": {
                    "__rl": true,
                    "value": "PLACEHOLDER_SPREADSHEET_ID",
                    "mode": "id"
                },
                "sheetName": {
                    "__rl": true,
                    "value": "Sheet1",
                    "mode": "name"
                },
                "options": {}
            },
            "id": "mock-sheets-node-456",
            "name": "Google Sheets",
            "type": "n8n-nodes-base.googleSheets",
            "typeVersion": 4,
            "position": [
                500,
                300
            ]
        },
        {
            "parameters": {
                "command": "=python /path/to/ai-governance-swarm/swarm/main.py {{$json.body.url}}"
            },
            "id": "mock-execute-node-789",
            "name": "Execute Command",
            "type": "n8n-nodes-base.executeCommand",
            "typeVersion": 1,
            "position": [
                750,
                300
            ]
        }
    ],
    "pinData": {},
    "connections": {
        "Webhook": {
            "main": [
                [
                    {
                        "node": "Google Sheets",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Google Sheets": {
            "main": [
                [
                    {
                        "node": "Execute Command",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "active": false,
    "settings": {},
    "versionId": "mock-version-id"
}